<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <div class="wrap d-md-flex">
                <div class="img" style="background-color: black;"></div>
                <div class="login-wrap p-4 p-md-5">
                    <div class="d-flex">
                        <div class="w-100">
                            <h3 class="mb-4">Sign In</h3>
                        </div>
                        <div class="w-100">
                            <i class="bi bi-google"></i>
                            <p class="social-media d-flex justify-content-end">
                                
                                <a 
                                    class="social-icon d-flex align-items-center justify-content-center"><span
                                        class="fa fa-facebook"></span></a>
                                <button (click)="authLogin()"
                                    class="social-icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-google"></span></button>
                            </p>
                        </div>
                    </div>
                    <form action="#" class="signin-form">
                        <div class="form-group mb-3">
                            <label class="label" for="name">email</label>
                            <input type="text" class="form-control" name="email" [(ngModel)]="loginObj.email" placeholder="Username" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="password">Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="loginObj.password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" (click)="login()" class="form-control btn btn-primary rounded submit px-3">Sign
                                In</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50 text-left">
                                <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#">Forgot Password</a>
                            </div>
                        </div>
                    </form>
                    <p class="text-center">Not a member? <a data-toggle="tab" href="#signup">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
